<div class="admin">
<h1>Manage Photo Source</h1>
<%= simple_form_for @photo_source, html:{class:"form-inline"} do |f| %>
  <%= f.input :account_id %>
  <%= f.input :platform, collection: [['Facebook',:Facebook],['Pinterest',:Pinterest]] %>
  <%= f.input :styleType, collection: [['Female',:Female],['Male',:Male]]%>
  <%= f.submit %>
<% end %>
<hr>
<table class="table">
  <thead>
    <th>Account Name</th>
    <th>Platform</th>
    <th>Style Type</th>
  </thead>
  <tbody>
    <% @photo_sources.each do |p| %>
      <tr>
        <td><%=p.account_id%></td>
        <td><%=p.platform%></td>
        <td><%=p.styleType%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
